body {
    background-color: black;
    background-repeat: space;
    color: white;
}

.first {
    font-family: cursive;
    font-style: italic;
}

.second {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.third {
    background-color: gold;
    width: 25%;
}

.fifth {
    background-color: gold;
    width: 12.5%;
    padding-left: 15px;
    border-bottom-color: white;
}

.sum {
    display: flex;
    justify-content: space-between;
}

.seventh {
    display: flex;
    justify-content: flex-end;
    padding-right: 50%;
}